%h3 Question:
%strong= @question.title
%p= @question.text
%ul
  - @question.answers.each do |answer| 
    %li=answer.title

=link_to 'Edit', edit_teachers_question_path(@question), class: 'btn btn-success'

=link_to 'Back', teachers_questions_path, class: 'btn btn-success'

=link_to 'Destroy', teachers_question_path(@question), class: 'btn btn-success',
              method: :delete,
              data: { confirm: 'Are you sure?' }