%h1 Hello
%button.btn.btn-success{:type => "button"} Success
%h1 Answers
= link_to 'Go to answers', teachers_answers_path, class: 'btn btn-success'
= link_to 'My questions', teachers_questions_path, class: 'btn btn-success'
