%h1 Hello
%button.btn.btn-success{:type => "button"} Success
%h1 Answers
= link_to 'Go to answers', '/teachers/answers', class: 'btn btn-success'
= link_to 'Go to answers', [:teachers, :answers], class: 'btn btn-success'
= link_to 'Go to answers', teachers_answers_path, class: 'btn btn-success'
%a.btn.btn-success{:href => '/teachers/answers'} Go to answers
